# Server Configuration
NODE_ENV=
PORT=
BASE_URL= # Base URL for short URLs
FRONTEND_URL=

LOGTAIL_TOKEN=

MAIL_HOST=
MAIL_PORT=
MAIL_SECURE=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=

# MAIL_HOST=smtp.resend.com
# MAIL_PORT=587
# MAIL_SECURE=false
# MAIL_USERNAME=resend
# MAIL_PASSWORD=RESEND_API_KEY
# MAIL_FROM="URL Shortener <noreply@yourdomain.com>"

ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

ADMIN2_NAME=
ADMIN2_EMAIL=
ADMIN2_PASSWORD=

ADMIN_SEED_PASSWORD=


# Database Configuration
MONGODB_URI=

# Redis Configuration (if using Redis Cloud or local)
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# JWT Configuration
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRE=

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

# Short URL Configuration
SHORT_URL_LENGTH=6

SERVER_NAME=

# Sentry Configuration
SENTRY_DSN=
SENTRY_RELEASE=
